#about {
    width: 50%;
    float: right;
    // clear: left;
    .title {
        background-color: $mm4-orange;
    }
    .about-content {
        padding: 0 20px;
        h4 {
            color: $mm4_orange;
        }
        h3 {
            text-transform: uppercase;
            color: $mm4-blue;
        }
        a {
            color: $mm4-orange;
            text-decoration: none;
        }
        .blue-words {
            color: $mm4_blue;
            font-weight: 700;
        }
    }
}