#about {
    width: 50%;
    float: right;
    // clear: left;
    h1 {
        background-color: $mm4-orange;
    }
    .about-content {
        h3 {
            text-transform: uppercase;
            color: $mm4-blue;
        }
        a {
            color: $mm4-orange;
            text-decoration: none;
        }
    }
}