#about {
    .title {
        background-color: $mm4-orange;
    }
    .about-content {
        h4 {
            color: $mm4_orange;
        }
        h3 {
            text-transform: uppercase;
            color: $mm4-blue;
        }
        a {
            color: $mm4-orange;
            text-decoration: none;
        }
        .blue-words {
            color: $mm4_blue;
            font-weight: 700;
        }
    }

    @include respond-to(iphone) {
        width: 100%;
        clear: both;
        h1 {
            font-size: $h1-mobile-font;
        }
        .about-content {
            padding: 0 10px;
        }
        h3 {
            font-size: 1em;
        }
    }
    @include respond-to(tablet) {
       float: right;
       width: 50%;
       clear: right;
       h1 {
           font-size: $h1-tablet-font;
       }
       h3 {
            font-size: .8em;
       }
       .read-more-content {
            padding-right: 10px;
       }
    }
    @include respond-to(laptop) {
       h1 {
           font-size: $h1-laptop-font;
       }
       h3 {
            // font-size: 1em;
       }
       .about-content {
            font-size: 1.2em;
       }
    }
}