header {

    h1 {
        color: #0072ae;
        text-align: left;
        font-size: 2.5em;
        padding: 0;
        margin-left: 2em;
    }
    .logo {
        width: 200px;
        max-width: 100%;
    }
}