#invite {
    width: 50%;
    float: left;

    .title {
        background-color: $mm4_gray;
    }
    .invite-content{
        .desc {
            text-transform: uppercase;
            color: $mm4_blue;

        }
        .info {
            margin: 0 20px;
            font-weight: normal;

        }

    }
}