#registration {
    width: 100%;
    height: auto;
    clear: both;
    background-image: url("../images/background.png");
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    .title {
         background-color: $mm4-yellow;
    }
    .registration-wrapper {
        .form-section {
            // width: 49%;
            // float: left;
            .form-row {
                display: inline;
                // margin: 20px;
                label {
                    color: $mm4_white;
                    // width: 150px;
                    // height: auto;
                    // text-align: right;
                    // margin-right:15px;
                    // float:left;
                }
                input {
                    // width: 60%;
                    // height: 30px;
                }
            }
            .honey {
                display: none!important;
            }
        }
        .schedule-section {
            // width: 49%;
            // float: right;
            // clear: right;
            h3 {
                color: $mm4-yellow;
            }
            .read-more-toggle {
                color: $mm4-white;
            }
            p {
                color: $mm4-white;
                span {
                    font-family: $bold-font;
                }
            }
            label {
                color: $mm4_yellow;
            }
            input {
                // margin: 15px;
            }
            .read-more-toggle {
                color: $mm4_white;
                margin-left: 45px;
            }
        }
        .submit {
            float: left;
            clear: both;
            width: 100%;
            margin: 20px auto;
            padding: 10px;
            border-radius: 0;
            border: none;
            background-color: $mm4-orange;
            color: $mm4_white;
            text-transform: uppercase;
        }
    }
    .footer-wrapper {
        background-color: $mm4_blue;
        clear: both;
        color: $mm4_blue;
        .footer-promo {
            width: 49%;
            float: left;
            a {
                padding: 20px;
            }
            #mm4 {
                // width: 200px;
            }
        }
        .footer-social{
            width: 49%;
            float: right;
            text-align: right;
            margin-bottom: 20px;
        }
        .footer-address {
            width: 49%;
            float: right;
            clear: right;
            text-align: right;
            a {
                color: $mm4_white;
            }
        }
    }

    @include respond-to(iphone) {

        h1 {
            font-size: $h1-mobile-font;
        }
        .form-section {
            width: 100%;
            .form-row {
                // margin: 10px 0 10px 10px;
                label {
                    width: 30%;
                    float: left;
                    text-align: right;
                    margin-right: 10px;
                    margin-top: 10px;
                }
                input {
                    width: 60%;
                    margin-top: 10px;
                }
            }
        }

        .schedule-section {
            width: 100%;
            clear: both;

            .fieldset {
                display: block;
                list-style-type: none;
                margin: 0;
                padding: 10px;
                li {
                    padding: 20px 0;
                }

                input {
                    float: left;
                    clear: both;
                    // width: 10%;
                }
                label {
                    margin-left: 20px;
                    // display: block;
                    float: left;
                    // clear: both;
                    width: 80%;
                    margin-bottom: 5px;
                }
            }

                // input[type='checkbox'] {
                //     // float: left;
                //     margin-right: 10px;
                //     // float: left;
                //     // width: 10%;
                //     // margin-top: 10px;
                //     // clear: right;
                // }
                // span {
                //     // float: right;
                //     // width: 85%;
                //     // clear: left;
                //     // margin-top: 10px;
                // }

        }
    }
}