#registration {
    background-image: url("../images/background.png");
    background-position: right top;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    clear: both;
    .title {
         background-color: $mm4-yellow;
    }
    .registration-wrapper {
        .form-section {
            width: 49%;
            float: left;
            .form-row {
                display: block;
                margin: 10px;
                input {
                    width: 50%;
                }
            }
        }
        .schedule-section {
            width: 49%;
            float: right;
            clear: right;
            h3 {
                color: $mm4-yellow;
            }
            p {
                color: $mm4-white;
                span {
                    font-family: $bold-font;
                    letter-spacing: 1px;
                }
            }
            input {
                margin: 10px;
            }
            label {
                color: $mm4_yellow;
            }
        }
        .submit {
            float: left;
            clear: both;
            width: 100%;
            margin: 20px auto;
            padding: 10px;
            border-radius: 0;
            border: none;
            background-color: $mm4-orange;
            color: $mm4_white;
        }
    }
}