#registration {
    width: 100%;
    height: 100vh;
    clear: both;
    background-image: url("../images/background.png");
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    .title {
         background-color: $mm4-yellow;
    }
    .registration-wrapper {
        .form-section {
            width: 49%;
            float: left;
            .form-row {
                display: block;
                margin: 10px;
                label {
                    color: $mm4_white;
                }
                input {
                    width: 50%;
                }
            }
            .honey {
                display: none!important;
            }
        }
        .schedule-section {
            width: 49%;
            float: right;
            clear: right;
            h3 {
                color: $mm4-yellow;
            }
            p {
                color: $mm4-white;
                span {
                    font-family: $bold-font;
                }
            }
            label {
                color: $mm4_yellow;
            }
            input {
                margin: 15px;
            }
            .read-more {
                color: $mm4_white;
                margin-left: 40px;
            }
        }
        .submit {
            float: left;
            clear: both;
            width: 100%;
            margin: 20px auto;
            padding: 10px;
            border-radius: 0;
            border: none;
            background-color: $mm4-orange;
            color: $mm4_white;
            text-transform: uppercase;
        }
    }
    .footer-social {
        clear: both;
        .wrapper-footer {
            width: 49%;
            float: left;
            a {
                padding: 20px;
            }
            #mm4 {
                width: 200px;
            }
        }
        .social{
            width: 49%;
            float: right;
            text-align: right;
            margin-bottom: 20px;
        }
        address {
            width: 49%;
            float: right;
            clear: right;
            text-align: right;
        }
    }
}