html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: $title-color;
    font-family: $title-font;
    padding: 20px;
}

body {
    background-color: #0072ae;
    // background-color: $background-color;
    color: $text_main;
    font-family: $regular-font;
}

.wrapper {
    background-color: $background-color;
    // widows: 900px;
    // max-width: 80%;
    margin: 0 auto;
}

.title {
    width: 100%;
}

.test {
    border: 1px solid red;
}

.colored {
    color: red;
    font-size: 3em;
}
// for displaying the Read More >> sections
.hide {
    display: none;
}
.read-more-toggle {
    cursor: pointer;
}

.content {
    // width: 1200px;
    // max-width: 90%;
    // margin: 0 auto;
}