html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: $title-color;
    font-family: $title-font;
    padding: 20px;
}
p {
    font-family: $regular-font;
}

.title {
    width: 100%;
}

// for displaying the Read More >> sections
.hide {
    display: none;
}
.read-more-toggle {
    cursor: pointer;
}
body {
    background-color: $mm4_blue;
    color: $text_main;
    font-family: $regular-font;
}

.wrapper {
    background-color: $background-color;
    // widows: 900px;
    // max-width: 80%;
    margin: 0 auto;
}
.content {
    // width: 1200px;
    // max-width: 90%;
    margin: 0 auto;
}

