@font-face {
  font-family: 'Aleo-Bold';
  src: url('../fonts/Aleo-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Aleo-Bold.otf')  format('opentype'),
         url('../fonts/Aleo-Bold.woff') format('woff'), url('../fonts/Aleo-Bold.ttf')  format('truetype'), url('../fonts/Aleo-Bold.svg#Aleo-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/pts75f-webfont.woff2') format('woff2'),
         url('fonts/pts75f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/PTS55F-webfont.eot');
    src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS55F-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$title-font: 'Aleo-Bold';
$bold-font:'pt_sansbold';
$regular-font:'pt_sansregular';
